$main-font: 'Libre Franklin', sans-serif;

// font weights
$light: 300;
$semiBold: 600;
$bold: 700;

//colors
$blue: hsl(223, 87%, 63%);

$paleBlue: hsl(223, 100%, 88%);
$medBlue: #8fa6db;
$lightRed: hsl(354, 100%, 66%);

$grey: hsl(0, 0%, 59%);
$darkBlue: hsl(209, 33%, 12%);

$white: #ffffff;

// viewport size
$tablet: 48rem;